@tailwind base;
@tailwind components;
@tailwind utilities;

.container {
  @apply w-[90%];
  @apply h-auto;
  @apply my-0;
  @apply mx-auto;
}

p {
  @apply text-2xl;
  @apply font-normal;
  font-family: Montserrat;
}

h2,
h3 {
  @apply font-medium;
  @apply text-[26px];
  font-family: Montserrat;
}

h1 {
  @apply font-bold;
  @apply text-[42px];
  font-family: Montserrat;
}
